<div>
    <h2><b>Please Enter Trigger Action Programs:</b></h2>
        
        <textarea class="textarea" placeholder="Please enter 'IF...THEN...', such as 'IF Door.dopen THEN M.heatoffPulse '"></textarea>
        <form  method="post" enctype="multipart/form-data" >
            <label>choose ontology:</label>
            <input type="file" name="file" accept=".xml" class="chooseFile_c"> 
            
            <input type="submit" class="button"><br>
            
       </form>
</div>

<!-- <div style="height: 500px">
    <h2><b>Please Enter Trigger Action Programs:</b></h2>
    <ngx-monaco-diff-editor [options]="options" [originalModel]="originalModel" [modifiedModel]="modifiedModel" (onInit)="onInit($event)"></ngx-monaco-diff-editor>
</div> -->
<!-- <div class="rule_ontology">
    <h2><b>Please Enter Trigger Action Programs:</b></h2>
    <ngx-monaco-editor id="input_textarea" [options]="editorOption"  [(ngModel)]="code" (onInit)="monacoOnInit($event)"></ngx-monaco-editor>

</div> -->
