<div>
    <h2><b>Simulation Scenes:</b></h2>
    <div class="random-range">
        <!-- <div echarts [options]="options | async" class="demo-chart"></div> -->
        <div class="scenes-scope" [style.display]="show_tree">
            <div id="scene" class="echarts_scale" echarts [options]=scenesTreeOption  ></div>
            <!-- <app-echarts-all-scenes ></app-echarts-all-scenes> -->
        </div>
        <div class="scenes-scope" [style.display]="show_scenes_rules">
            <app-echarts-all-scenes-rules-analys></app-echarts-all-scenes-rules-analys>
        </div>
        <div class="scenes-scope" [style.display]="show_rules_scenes">

        </div>
        
    </div>
    <div class="button-group">
        <button class="button" (click)="showRandomResults()">Show Scenes Tree </button>
        <button class="button" (click)="showScenesRulesResults()">Show Scenes Rules</button>
        <button class="button" (click)="showRulesScenesResults()">Show Rules Scenes</button>
        <button class="button" routerLink="/scene-details">Scene Details</button>
        <div ng-view></div>
    </div>
    
</div>