.devices {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    
    display: flex;
    flex-wrap: wrap;
  }
  .device-scope{
      margin-top: 3px;
      margin-left: 3px;
      margin-right: 3px;
      border:  #36648B 1px dashed;
      border-radius: 4px;
      position: relative;
      height: 48%;
  }
  .devices li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: rgb(15, 22, 153);
    margin-top: 8px;
    margin: 0.9em;
    padding: .3em 0;
    width: 11.9em;
    height: 3em;
    border-radius: 4px;
    text-align: center;
    color: #ffffff;
    
    
  }
  .devices li:hover {
    color: #ffffff;
    background-color: #DDD;
    left: .1em;
  }
  .devices li.selected {
    background-color: #CFD8DC;
    color: rgb(119, 164, 233);
  }
  .devices li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .devices .badge {
    display: inline-block;
    font-size: medium;
    color: white;
    padding: 1em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    width: 80%;
    height: 100%;
    
    
    
    margin-right: .8em;
    border-radius: 25px;
    text-align: center;
  }

  h3{
      margin-top: 10px;
      margin-left: 10px;
  }

  .red{
    text-align: center;
    color: #f36767;
  }

  .has-conflict{
    text-align: center;
    font-size: .8em;
    color: #802727;
  }

  .not_off{
    text-align: center;
    font-size: .8em;
    color: #802727;
  }

  .device_details{
    margin-top: 3px;
      margin-left: 3px;
      margin-right: 3px;
      border:  #36648B 1px dashed;
      border-radius: 4px;
      position: relative;
      height: 48%;
  }