
.plan-result{
    width: 100%;
    height: 700px;
    
    display: flex;
    
}

.left-half{
    width: 50%;

}

.right-half{
    width: 50%;
}

.scope{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border:  #36648B 2px solid;
    border-radius: 10px;
    padding: 10px;
    width:95%;
    height:95%;
}

.button{
    margin-left: 20px;
    
    width:140px;
    height: 50px;
    border: solid #000 1px;
    border-radius: 5px;
}

h2{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

img{
    width: 100%;
    height: 100%;
}

.back{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.button-scope{
    display: flex;
    margin-top: 50px;
}

.picture{
    width: 100%;
    height: 670px;
}

.ifd-style{
    width: 100%;
    
}