<div *ngIf="selectedDevice">
  <div class="detail-scope">
    <h2 class="device_name"><b (click)="showDeviceDetailButton()">{{selectedDevice.deviceName}} </b></h2> <br>

    <div class="scroll_bar">

      <!-- <div *ngIf="device.conflict.hasConflict">
                        <div class="inevitable">
                          <h3 (click)="showProblem()"><b>Inevitable Problem</b></h3>
                          <div id="confli">
                            <p style="color: red; margin-left: 20px;"><b>Exist States Conflict !</b></p>
                            <ul class="details">
                              <li *ngFor="let conflictTimeStates of device.conflict.conflictTimeStates" 
                              [class.selected]="conflictTimeStates===selectedConflict"
                              (click)="onSelect(device,conflictTimeStates)">
                                <div class="label"><b>conflict time:</b> <br>{{conflictTimeStates.time.toFixed(2)}} </div>
                                <div>
                                  <br>
                                  <b>conflict states:<br></b>
                                  <div *ngFor="let state of conflictTimeStates.states;index as i" class="label"> {{state}}<div
                                      class="label" *ngIf="i<(conflictTimeStates.states.length-1)">,&nbsp;</div>
                                  </div>
                                </div>
                  
                              </li>
                            </ul>
                            <div *ngIf="selectedConflict" style="margin-top: 0px;" id="conf_rule">
                              <p style="color: red; margin-left: 20px;margin-top: 0px;">Causal Rules: </p>
                              <p *ngFor="let rule of causalConflictRules" class="rule_label"> {{rule}}&nbsp;</p>
                            </div>
                          </div> 
                        </div>
                      </div>
                  
                      <div class="potential">
                        <div *ngIf="!device.finallyOff||device.onOffCounts>=10">
                          <h3 (click)="showPotentialProblem()"><b>Potential Problem</b></h3>
                          <div id="poten">
                            <div class="final_off" *ngIf="!device.finallyOff">
                              <p style="color: red; margin-left: 20px;"><b>Finally not off !</b></p>
                            </div>
                            <div class="change_rate" *ngIf="device.onOffCounts>=10">
                              <p  (click)="showFrequentCausal(device)" style="color: black;"><b style="color: red; margin-left: 20px;">Frequent state transitions:</b> &nbsp;states change rate {{device.onOffCounts}}/300</p>
                              <div id="fre_rule">               
                              <p style="color: red; margin-left: 20px;margin-top: 0px;" >Causal Rules: </p>
                              <p *ngFor="let rule of causalFrequentRules" class="rule_label">{{rule}}&nbsp;</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    </div> -->
      <!-- <div class="devices_detail">
                      <button class="conflict_button" (click)="conflictDetail()">States conflict?</button>
                      <button class="change_frequently_button" (click)="frequentChangeDetail()">States change frequently?</button>
                    </div>
                    <div class="devices_detail">
                      <button class="cannot_off_button" (click)="cannotOffDetail()">Device cannot off?</button>
                      <button class="consumption_button" (click)="consumptionDetail()">Device Consumption</button>
                    </div> -->


      <div class="device_detail_scope" id="device_detail_button" [ngStyle]="{display: deviceDetailButtonShow}">
        <div class="device_detail_half_scope">
          <ul class="devices_detail">
            <li class="anaysis_button" (click)="conflictDetail()">
              <b [ngClass]="{red: selectedDevice.conflictReasons.length>0}">States conflict?</b>
            </li>
          </ul>
          <ul class="devices_detail">
            <li class="anaysis_button" (click)="frequentChangeDetail()">
              <b>Device jitter?</b>
            </li>
          </ul>
        </div>

        <div class="device_detail_half_scope">
          <ul class="devices_detail">
            <li class="anaysis_button" (click)="cannotOffDetail()">
              <!-- <b [ngClass]="{red: selectedDevice.deviceCannotOff.cannotOff}">Device cannot off?</b> -->
              <b>Device cannot off?</b>
            </li>
          </ul>
          <ul class="devices_detail">
            <li class="anaysis_button" (click)="consumptionDetail()">
              <b>Device Consumption</b>
            </li>
          </ul>
        </div>
      </div>

      <div id="conflict_information" [ngStyle]="{display: conflictDetailShow}">
        <div *ngIf="selectedDevice.conflictReasons.length>0">
          <b style="color: brown;font-size: 2em;margin-left: 20px;">Exist states conflict!</b>
          <!-- <ul class="conflict_detail" style="display: flex;list-style-type: none;    flex-wrap: wrap;">
            <li *ngFor="let conflictTime of selectedDevice.statesConflict.conflictTimes" style="width: 150px;margin-top: 10px;"
            [class.selected_conflict]="conflictTime===conflictStateTime"
            (click)="onSelectConflictTime(conflictTime)">
            <div class="label">
              <b style="margin-bottom: 1px;">conflict time:</b>
              <b style="color: black;margin-top: 1px;">{{twoDevimals(conflictTime.conflictTime)}}</b>
            </div>

            </li>
          </ul> -->
          <div echarts [options]="conflictOption" class="conflict_option" [autoResize]="true" id="conflictOptionId">
          </div>
          <div>
            <b style="color: brown;font-size: x-large;margin-left: 20px;margin-top: 20px;">Conclusion</b><br>
            <div *ngFor="let conflictCauseRulesCount of conflictCauseRulesCounts;index as i">
              <b style="color: black; margin-left: 10px;">{{(i+1)}}: states conflict:</b>
              <ul>
                <li *ngFor="let causingRule of conflictCauseRulesCount.causingRules" style="color: black;">
                  state:<b style="font-size: larger;color:  rgb(21, 105, 184);">{{causingRule.state}}</b>, caused by
                  <div *ngIf="causingRule.stateCausingRules.length>0">
                    <ul>
                      <li *ngFor="let stateCausingRule of causingRule.stateCausingRules">
                        <b>{{stateCausingRule.rule.ruleName}}</b>: {{getRuleContent(stateCausingRule.rule.ruleContent)}}
                        <app-rule-recursive *ngIf="stateCausingRule.preRules.length>0" [preRules]="stateCausingRule.preRules">
                        </app-rule-recursive>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
              <div style="color: black;margin-left: 30px;">count: {{conflictCauseRulesCount.count}}</div>
            </div>
          </div>
          <div>
            <b style="color: brown;font-size: x-large;margin-left: 20px;margin-top: 20px;">individual analysis</b>
            <div *ngFor="let conflictReason of selectedDevice.conflictReasons;index as i">
              <b style="color: black; margin-left: 10px;">{{(i+1)}}: states conflict:</b>
              <b style="color: black; margin-left: 15px;"> at time: {{conflictReason.conflict.time.toFixed(2)}}</b>
              <ul>
                <li style="list-style-type: none;" *ngFor="let causingRule of conflictReason.causingRules;index as j"
                  style="color: black;">
                  state:<b style="font-size: larger;color:  rgb(21, 105, 184);">{{causingRule.state}}</b>, caused by
                  <div *ngIf="causingRule.stateCausingRules.length>0">
                    <ul>
                      <li *ngFor="let stateCausingRule of causingRule.stateCausingRules">
                        <b>{{stateCausingRule.rule.ruleName}}</b>: {{getRuleContent(stateCausingRule.rule.ruleContent)}}
                        <app-rule-recursive *ngIf="stateCausingRule.preRules.length>0" [preRules]="stateCausingRule.preRules">
                        </app-rule-recursive>
                      </li>
                    </ul>
                  </div>
                                  <!-- <ul>
                                    <li *ngIf="stateCause.rulesAndCauseRules.length==0" style="color: brown;">no rule
                                      <ul>
                                        <li *ngFor="let rule of stateCauseRulesList[i][j].rulesAndCauseRules" style="color: black;">
                                          <b>{{rule.selfRule.ruleName}}</b>: {{getRuleContent(rule.selfRule.ruleContent)}}
                                        </li>
                                      </ul>
                                    </li>
                                    <li *ngFor="let rule of stateCause.rulesAndCauseRules" style="color: black;">
                                      <b>{{rule.selfRule.ruleName}}</b>: {{getRuleContent(rule.selfRule.ruleContent)}}
                                    </li>
                                  </ul> -->
                </li>
              </ul>
          </div>
        </div>
      </div>
      <div *ngIf="selectedDevice.conflictReasons.length==0">
        <b style="color: rgb(8, 5, 5);font-size: 2em;margin-left: 20px;">Exist no states conflict.</b>
      </div>
    </div>


    <div id="change_frequent_information" [ngStyle]="{display: frequentChangeDetailShow}">
      <div>
        <div echarts [options]="changeFrequentOption" class="change_frequent_option " [autoResize]="true"
          id="changeFrequentId">
        </div>
        <!-- <div  id="frequency_conclution">
                  <div style="margin-left: 30px;margin-right: 30px;">
                    <b style="color: black;">Excluding the state conflicts, the </b><b style="color: brown;">&nbsp;{{selectedDevice.deviceName}}</b>
                    <b style="color: black;">&nbsp;undergoes</b> <b style="color: brown;">&nbsp;{{selectedDevice.statesChange.statesChangeCount}}</b> <b style="color: black;">&nbsp;state
                      changes during the</b> <b style="color: brown;">&nbsp;{{simulationTime}}</b><b style="color: black;">s simulation process.</b>
                  </div>

                  <br>
                  <div style="margin-left: 30px;margin-right: 30px;">
                    <b style="color: black;"> Equivalent to </b><b style="color: brown;">&nbsp;{{equivalentTime}}</b><b style="color: black;">h in the real world, the frequency
                      of state transition is</b> <b
                      style="color: brown;">&nbsp;{{getFrequency(selectedDevice.statesChange.statesChangeCount,equivalentTime)}}</b><b style="color: black;">/h.</b>

                  </div>
                </div> -->
        <div id="frequency_analysis">
          <div>
            <b style="color: brown;font-size: x-large;margin-left: 20px;margin-top: 20px;">Conclusion</b><br>
            <ul *ngFor="let jitterCauseRulesCount of jitterCauseRulesCounts;index as i">
              <b style="color: black; margin-left: 10px;">{{(i+1)}}: jitter:</b>
              <li style="list-style-type: none;margin-left: 20px;" *ngFor="let causingRule of jitterCauseRulesCount.causingRules">
                <b style="color: black;">state: </b>
                <b style="color:  rgb(21, 105, 184); font-size: larger;">{{causingRule.state}}</b>
                <b style="color: black;"> caused by</b>
                <ul>
                  <li style="color: black;" *ngFor="let stateCausingRule of causingRule.stateCausingRules">
                    <b>{{stateCausingRule.rule.ruleName}}</b>: {{getRuleContent(stateCausingRule.rule.ruleContent)}}
                    <app-rule-recursive *ngIf="stateCausingRule.preRules.length>0"
                      [preRules]="stateCausingRule.preRules">
                    </app-rule-recursive>
                  </li>
                </ul>                
              </li>
              <div style="color: black;margin-left: 20px;">count: {{jitterCauseRulesCount.count}}</div>
            </ul>
            

          </div>

          <div>
            <b style="color: brown;font-size: x-large;margin-left: 20px;margin-top: 20px;">individual analysis</b>
            <ul *ngFor="let jitterReason of selectedDevice.jitterReasons;index as i">
              <b style="color: black;margin-left: 10px;margin-top: 20px;">{{(i+1)}}: jitter: </b>
              <b style="color: black;margin-left: 15px;"> at time:
                {{jitterReason.jitter[0][0].toFixed(2)}}-{{jitterReason.jitter[jitterReason.jitter.length-1][0].toFixed(2)}}</b>
              <li style="list-style-type: none;margin-left: 20px;" *ngFor="let causingRule of jitterReason.causingRules">
                <b style="color: black;">state: </b>
                <b style="color:  rgb(21, 105, 184); font-size: larger;">{{causingRule.state}}</b>
                <b style="color: black;"> caused by</b>
                <ul>
                  <li style="color: black;" *ngFor="let stateCausingRule of causingRule.stateCausingRules">
                    <b>{{stateCausingRule.rule.ruleName}}</b>: {{getRuleContent(stateCausingRule.rule.ruleContent)}}
                    <app-rule-recursive *ngIf="stateCausingRule.preRules.length>0"
                      [preRules]="stateCausingRule.preRules">
                    </app-rule-recursive>
                  </li>
                </ul>

              </li>
            </ul>


          </div>

        </div>

      </div>
    </div>

    <!-- <div id="cannot_off_information" [ngStyle]="{display: cannotOffDetailShow}">
            <div *ngIf="selectedDevice.deviceCannotOff.cannotOff">
              <b style="color: brown;font-size: 2em;margin-left: 20px;">Device cannot Off!</b>
              <p style="color: brown;font-size: 1em;margin-left: 30px;">
                Reason: {{selectedDevice.deviceCannotOff.cannotOffReason.reason}}</p>
              <div *ngIf="selectedDevice.deviceCannotOff.cannotOffReason.cannotTriggeredRules.length>0">
                <ul class="cannot_off_rule_list">
                  <li *ngFor="let rule of selectedDevice.deviceCannotOff.cannotOffReason.cannotTriggeredRules"
                    class="cannot_off_rule_label">
                    {{rule.ruleName}}:{{rule.ruleContent}}<br>
                  </li>
                </ul>
              </div>
            </div>


            <div *ngIf="!selectedDevice.deviceCannotOff.cannotOff">
              <b style="color: rgb(8, 5, 5);font-size: 2em;margin-left: 20px;">Device can off.</b>
            </div>

          </div>
          <div id="consumption_information" [ngStyle]="{display: consumptionDetailShow}">
            <ul>
              <li *ngFor="let stateTime of selectedDevice.deviceStateLastTime.statesTime" style="color: black;margin-left: 30px;margin-top: 30px;font-size: larger;">
                <b style="color:  rgb(21, 105, 184);">{{stateTime.stateName}}</b> &nbsp;&nbsp;last time: &nbsp;<b> {{stateTime.lastTime.toFixed(2)}} </b>           
              </li>
            </ul>
          </div> -->

    <!-- <ul class="devices_detail">
            <li class="conflict_button" [class.selected]="device===selectedDevice" (click)="conflictDetail()">
              <b>States conflict?</b>
              
            </li>
            <li class="change_frequently_button" [class.selected]="device===selectedDevice" (click)="frequentChangeDetail()">
              <b>States change frequently?</b>
              
            </li> 

          </ul>
          <ul class="devices_detail">
            <li class="cannot_off_button" [class.selected]="device===selectedDevice"(click)="cannotOffDetail()">
              <b>Device cannot off?</b>
            
            </li>
            <li class="consumption_button" [class.selected]="device===selectedDevice" (click)="consumptionDetail()">
              <b>Device Consumption</b>
              
            </li>
          </ul> -->

    <!-- </div> -->

  </div>
</div>
</div>


<!-- <div  class="detail_scope" id="detail"></div> -->


<!-- <table border="1px solid #ccc" cellpadding="5px" cellspacing="0" align="center">
<tr class="device_tr">
  
  <th colspan="3">fan</th>
</tr>
<tr>
  <th rowspan="2">conflict</th>
  <td>foff,fon</td>
  <td>time:156</td>
</tr>
<tr>
  <td>foff,fon</td>
  <td>time:162</td>
</tr>
<tr>
  <th rowspan="2">stateLastTime</th>
  <td>fon</td>
  <td>lastTime:101.58</td>
</tr>
<tr>
  <td>foff</td>
  <td>lastTime:197.44</td>
</tr>
<tr>
  <th>finallyOff</th>
  <td colspan="2">true</td>
</tr>
<tr>
  <th>stateChangeRate</th>
  <td colspan="2">16 counts</td>
</tr>
</table>
 -->