<!-- <ul style="color: black;">
    <b>Prerequisite rules:</b>
    <li *ngFor="let causeRule of causeRules" >
        <b>{{causeRule.selfRule.ruleName}}: </b>{{getRuleContent(causeRule.selfRule.ruleContent)}}
        <app-rule-recursive *ngIf="causeRule.causeRules.length>0" [causeRules]="causeRule.causeRules" ></app-rule-recursive>
    </li>
</ul> -->

<ul style="color: black;">
    <b>Prerequisite rules:</b>
    <li *ngFor="let preRule of preRules" >
        <b style="color: red;">{{preRule.currentRule.ruleName}}&nbsp;</b>
        <b style="color: black;">{{preRule.currentRule.ruleContent}}&nbsp;</b>        
        <app-rule-recursive *ngIf="preRule.preRules.length>0" [preRules]="preRule.preRules" ></app-rule-recursive>
    </li>
</ul>